// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-a-c-name: 'AC';
$-a-c-x: 116px;
$-a-c-y: 20px;
$-a-c-offset-x: -116px;
$-a-c-offset-y: -20px;
$-a-c-width: 28px;
$-a-c-height: 20px;
$-a-c-total-width: 200px;
$-a-c-total-height: 180px;
$-a-c-image: '../images/sprite.png';
$-a-c: (116px, 20px, -116px, -20px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'AC', );
$-a-o-copy-name: 'AO Copy';
$-a-o-copy-x: 29px;
$-a-o-copy-y: 80px;
$-a-o-copy-offset-x: -29px;
$-a-o-copy-offset-y: -80px;
$-a-o-copy-width: 29px;
$-a-o-copy-height: 20px;
$-a-o-copy-total-width: 200px;
$-a-o-copy-total-height: 180px;
$-a-o-copy-image: '../images/sprite.png';
$-a-o-copy: (29px, 80px, -29px, -80px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'AO Copy', );
$-africa-com-name: 'Africa.com';
$-africa-com-x: 28px;
$-africa-com-y: 100px;
$-africa-com-offset-x: -28px;
$-africa-com-offset-y: -100px;
$-africa-com-width: 28px;
$-africa-com-height: 20px;
$-africa-com-total-width: 200px;
$-africa-com-total-height: 180px;
$-africa-com-image: '../images/sprite.png';
$-africa-com: (28px, 100px, -28px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'Africa.com', );
$-b-f-copy-name: 'BF Copy';
$-b-f-copy-x: 0px;
$-b-f-copy-y: 60px;
$-b-f-copy-offset-x: 0px;
$-b-f-copy-offset-y: -60px;
$-b-f-copy-width: 29px;
$-b-f-copy-height: 20px;
$-b-f-copy-total-width: 200px;
$-b-f-copy-total-height: 180px;
$-b-f-copy-image: '../images/sprite.png';
$-b-f-copy: (0px, 60px, 0px, -60px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'BF Copy', );
$-b-i-copy-name: 'BI Copy';
$-b-i-copy-x: 0px;
$-b-i-copy-y: 20px;
$-b-i-copy-offset-x: 0px;
$-b-i-copy-offset-y: -20px;
$-b-i-copy-width: 29px;
$-b-i-copy-height: 20px;
$-b-i-copy-total-width: 200px;
$-b-i-copy-total-height: 180px;
$-b-i-copy-image: '../images/sprite.png';
$-b-i-copy: (0px, 20px, 0px, -20px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'BI Copy', );
$-b-j-copy-name: 'BJ Copy';
$-b-j-copy-x: 86px;
$-b-j-copy-y: 80px;
$-b-j-copy-offset-x: -86px;
$-b-j-copy-offset-y: -80px;
$-b-j-copy-width: 28px;
$-b-j-copy-height: 20px;
$-b-j-copy-total-width: 200px;
$-b-j-copy-total-height: 180px;
$-b-j-copy-image: '../images/sprite.png';
$-b-j-copy: (86px, 80px, -86px, -80px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'BJ Copy', );
$-b-w-copy-name: 'BW Copy';
$-b-w-copy-x: 29px;
$-b-w-copy-y: 20px;
$-b-w-copy-offset-x: -29px;
$-b-w-copy-offset-y: -20px;
$-b-w-copy-width: 29px;
$-b-w-copy-height: 20px;
$-b-w-copy-total-width: 200px;
$-b-w-copy-total-height: 180px;
$-b-w-copy-image: '../images/sprite.png';
$-b-w-copy: (29px, 20px, -29px, -20px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'BW Copy', );
$-c-d-copy-name: 'CD Copy';
$-c-d-copy-x: 58px;
$-c-d-copy-y: 0px;
$-c-d-copy-offset-x: -58px;
$-c-d-copy-offset-y: 0px;
$-c-d-copy-width: 29px;
$-c-d-copy-height: 20px;
$-c-d-copy-total-width: 200px;
$-c-d-copy-total-height: 180px;
$-c-d-copy-image: '../images/sprite.png';
$-c-d-copy: (58px, 0px, -58px, 0px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'CD Copy', );
$-c-f-copy-name: 'CF Copy';
$-c-f-copy-x: 58px;
$-c-f-copy-y: 20px;
$-c-f-copy-offset-x: -58px;
$-c-f-copy-offset-y: -20px;
$-c-f-copy-width: 29px;
$-c-f-copy-height: 20px;
$-c-f-copy-total-width: 200px;
$-c-f-copy-total-height: 180px;
$-c-f-copy-image: '../images/sprite.png';
$-c-f-copy: (58px, 20px, -58px, -20px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'CF Copy', );
$-c-g-copy-name: 'CG Copy';
$-c-g-copy-x: 0px;
$-c-g-copy-y: 40px;
$-c-g-copy-offset-x: 0px;
$-c-g-copy-offset-y: -40px;
$-c-g-copy-width: 29px;
$-c-g-copy-height: 20px;
$-c-g-copy-total-width: 200px;
$-c-g-copy-total-height: 180px;
$-c-g-copy-image: '../images/sprite.png';
$-c-g-copy: (0px, 40px, 0px, -40px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'CG Copy', );
$-c-i-copy-name: 'CI Copy';
$-c-i-copy-x: 116px;
$-c-i-copy-y: 40px;
$-c-i-copy-offset-x: -116px;
$-c-i-copy-offset-y: -40px;
$-c-i-copy-width: 28px;
$-c-i-copy-height: 20px;
$-c-i-copy-total-width: 200px;
$-c-i-copy-total-height: 180px;
$-c-i-copy-image: '../images/sprite.png';
$-c-i-copy: (116px, 40px, -116px, -40px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'CI Copy', );
$-c-m-copy-name: 'CM Copy';
$-c-m-copy-x: 29px;
$-c-m-copy-y: 40px;
$-c-m-copy-offset-x: -29px;
$-c-m-copy-offset-y: -40px;
$-c-m-copy-width: 29px;
$-c-m-copy-height: 20px;
$-c-m-copy-total-width: 200px;
$-c-m-copy-total-height: 180px;
$-c-m-copy-image: '../images/sprite.png';
$-c-m-copy: (29px, 40px, -29px, -40px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'CM Copy', );
$-c-v-copy-name: 'CV Copy';
$-c-v-copy-x: 58px;
$-c-v-copy-y: 40px;
$-c-v-copy-offset-x: -58px;
$-c-v-copy-offset-y: -40px;
$-c-v-copy-width: 29px;
$-c-v-copy-height: 20px;
$-c-v-copy-total-width: 200px;
$-c-v-copy-total-height: 180px;
$-c-v-copy-image: '../images/sprite.png';
$-c-v-copy: (58px, 40px, -58px, -40px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'CV Copy', );
$-chad-name: 'Chad';
$-chad-x: 116px;
$-chad-y: 0px;
$-chad-offset-x: -116px;
$-chad-offset-y: 0px;
$-chad-width: 28px;
$-chad-height: 20px;
$-chad-total-width: 200px;
$-chad-total-height: 180px;
$-chad-image: '../images/sprite.png';
$-chad: (116px, 0px, -116px, 0px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'Chad', );
$-d-j-copy-name: 'DJ Copy';
$-d-j-copy-x: 0px;
$-d-j-copy-y: 0px;
$-d-j-copy-offset-x: 0px;
$-d-j-copy-offset-y: 0px;
$-d-j-copy-width: 29px;
$-d-j-copy-height: 20px;
$-d-j-copy-total-width: 200px;
$-d-j-copy-total-height: 180px;
$-d-j-copy-image: '../images/sprite.png';
$-d-j-copy: (0px, 0px, 0px, 0px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'DJ Copy', );
$-d-z-copy-name: 'DZ Copy';
$-d-z-copy-x: 29px;
$-d-z-copy-y: 60px;
$-d-z-copy-offset-x: -29px;
$-d-z-copy-offset-y: -60px;
$-d-z-copy-width: 29px;
$-d-z-copy-height: 20px;
$-d-z-copy-total-width: 200px;
$-d-z-copy-total-height: 180px;
$-d-z-copy-image: '../images/sprite.png';
$-d-z-copy: (29px, 60px, -29px, -60px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'DZ Copy', );
$-e-g-copy-name: 'EG Copy';
$-e-g-copy-x: 58px;
$-e-g-copy-y: 60px;
$-e-g-copy-offset-x: -58px;
$-e-g-copy-offset-y: -60px;
$-e-g-copy-width: 29px;
$-e-g-copy-height: 20px;
$-e-g-copy-total-width: 200px;
$-e-g-copy-total-height: 180px;
$-e-g-copy-image: '../images/sprite.png';
$-e-g-copy: (58px, 60px, -58px, -60px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'EG Copy', );
$-e-r-copy-name: 'ER Copy';
$-e-r-copy-x: 112px;
$-e-r-copy-y: 100px;
$-e-r-copy-offset-x: -112px;
$-e-r-copy-offset-y: -100px;
$-e-r-copy-width: 28px;
$-e-r-copy-height: 20px;
$-e-r-copy-total-width: 200px;
$-e-r-copy-total-height: 180px;
$-e-r-copy-image: '../images/sprite.png';
$-e-r-copy: (112px, 100px, -112px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ER Copy', );
$-e-t-copy-name: 'ET Copy';
$-e-t-copy-x: 58px;
$-e-t-copy-y: 80px;
$-e-t-copy-offset-x: -58px;
$-e-t-copy-offset-y: -80px;
$-e-t-copy-width: 28px;
$-e-t-copy-height: 20px;
$-e-t-copy-total-width: 200px;
$-e-t-copy-total-height: 180px;
$-e-t-copy-image: '../images/sprite.png';
$-e-t-copy: (58px, 80px, -58px, -80px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ET Copy', );
$-g-a-copy-name: 'GA Copy';
$-g-a-copy-x: 87px;
$-g-a-copy-y: 0px;
$-g-a-copy-offset-x: -87px;
$-g-a-copy-offset-y: 0px;
$-g-a-copy-width: 29px;
$-g-a-copy-height: 20px;
$-g-a-copy-total-width: 200px;
$-g-a-copy-total-height: 180px;
$-g-a-copy-image: '../images/sprite.png';
$-g-a-copy: (87px, 0px, -87px, 0px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'GA Copy', );
$-g-g-copy-name: 'GG Copy';
$-g-g-copy-x: 87px;
$-g-g-copy-y: 20px;
$-g-g-copy-offset-x: -87px;
$-g-g-copy-offset-y: -20px;
$-g-g-copy-width: 29px;
$-g-g-copy-height: 20px;
$-g-g-copy-total-width: 200px;
$-g-g-copy-total-height: 180px;
$-g-g-copy-image: '../images/sprite.png';
$-g-g-copy: (87px, 20px, -87px, -20px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'GG Copy', );
$-g-h-copy-name: 'GH Copy';
$-g-h-copy-x: 87px;
$-g-h-copy-y: 40px;
$-g-h-copy-offset-x: -87px;
$-g-h-copy-offset-y: -40px;
$-g-h-copy-width: 29px;
$-g-h-copy-height: 20px;
$-g-h-copy-total-width: 200px;
$-g-h-copy-total-height: 180px;
$-g-h-copy-image: '../images/sprite.png';
$-g-h-copy: (87px, 40px, -87px, -40px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'GH Copy', );
$-g-m-copy-name: 'GM Copy';
$-g-m-copy-x: 87px;
$-g-m-copy-y: 60px;
$-g-m-copy-offset-x: -87px;
$-g-m-copy-offset-y: -60px;
$-g-m-copy-width: 29px;
$-g-m-copy-height: 20px;
$-g-m-copy-total-width: 200px;
$-g-m-copy-total-height: 180px;
$-g-m-copy-image: '../images/sprite.png';
$-g-m-copy: (87px, 60px, -87px, -60px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'GM Copy', );
$-g-n-copy-name: 'GN Copy';
$-g-n-copy-x: 116px;
$-g-n-copy-y: 60px;
$-g-n-copy-offset-x: -116px;
$-g-n-copy-offset-y: -60px;
$-g-n-copy-width: 28px;
$-g-n-copy-height: 20px;
$-g-n-copy-total-width: 200px;
$-g-n-copy-total-height: 180px;
$-g-n-copy-image: '../images/sprite.png';
$-g-n-copy: (116px, 60px, -116px, -60px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'GN Copy', );
$-g-q-copy-name: 'GQ Copy';
$-g-q-copy-x: 116px;
$-g-q-copy-y: 80px;
$-g-q-copy-offset-x: -116px;
$-g-q-copy-offset-y: -80px;
$-g-q-copy-width: 28px;
$-g-q-copy-height: 20px;
$-g-q-copy-total-width: 200px;
$-g-q-copy-total-height: 180px;
$-g-q-copy-image: '../images/sprite.png';
$-g-q-copy: (116px, 80px, -116px, -80px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'GQ Copy', );
$-g-w-copy-name: 'GW Copy';
$-g-w-copy-x: 0px;
$-g-w-copy-y: 100px;
$-g-w-copy-offset-x: 0px;
$-g-w-copy-offset-y: -100px;
$-g-w-copy-width: 28px;
$-g-w-copy-height: 20px;
$-g-w-copy-total-width: 200px;
$-g-w-copy-total-height: 180px;
$-g-w-copy-image: '../images/sprite.png';
$-g-w-copy: (0px, 100px, 0px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'GW Copy', );
$-k-e-copy-name: 'KE Copy';
$-k-e-copy-x: 0px;
$-k-e-copy-y: 80px;
$-k-e-copy-offset-x: 0px;
$-k-e-copy-offset-y: -80px;
$-k-e-copy-width: 29px;
$-k-e-copy-height: 20px;
$-k-e-copy-total-width: 200px;
$-k-e-copy-total-height: 180px;
$-k-e-copy-image: '../images/sprite.png';
$-k-e-copy: (0px, 80px, 0px, -80px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'KE Copy', );
$-k-m-copy-name: 'KM Copy';
$-k-m-copy-x: 56px;
$-k-m-copy-y: 100px;
$-k-m-copy-offset-x: -56px;
$-k-m-copy-offset-y: -100px;
$-k-m-copy-width: 28px;
$-k-m-copy-height: 20px;
$-k-m-copy-total-width: 200px;
$-k-m-copy-total-height: 180px;
$-k-m-copy-image: '../images/sprite.png';
$-k-m-copy: (56px, 100px, -56px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'KM Copy', );
$-l-r-copy-name: 'LR Copy';
$-l-r-copy-x: 84px;
$-l-r-copy-y: 100px;
$-l-r-copy-offset-x: -84px;
$-l-r-copy-offset-y: -100px;
$-l-r-copy-width: 28px;
$-l-r-copy-height: 20px;
$-l-r-copy-total-width: 200px;
$-l-r-copy-total-height: 180px;
$-l-r-copy-image: '../images/sprite.png';
$-l-r-copy: (84px, 100px, -84px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'LR Copy', );
$-l-s-copy-name: 'LS Copy';
$-l-s-copy-x: 29px;
$-l-s-copy-y: 0px;
$-l-s-copy-offset-x: -29px;
$-l-s-copy-offset-y: 0px;
$-l-s-copy-width: 29px;
$-l-s-copy-height: 20px;
$-l-s-copy-total-width: 200px;
$-l-s-copy-total-height: 180px;
$-l-s-copy-image: '../images/sprite.png';
$-l-s-copy: (29px, 0px, -29px, 0px, 29px, 20px, 200px, 180px, '../images/sprite.png', 'LS Copy', );
$-l-y-copy-name: 'LY Copy';
$-l-y-copy-x: 0px;
$-l-y-copy-y: 120px;
$-l-y-copy-offset-x: 0px;
$-l-y-copy-offset-y: -120px;
$-l-y-copy-width: 28px;
$-l-y-copy-height: 20px;
$-l-y-copy-total-width: 200px;
$-l-y-copy-total-height: 180px;
$-l-y-copy-image: '../images/sprite.png';
$-l-y-copy: (0px, 120px, 0px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'LY Copy', );
$-m-a-copy-name: 'MA Copy';
$-m-a-copy-x: 28px;
$-m-a-copy-y: 120px;
$-m-a-copy-offset-x: -28px;
$-m-a-copy-offset-y: -120px;
$-m-a-copy-width: 28px;
$-m-a-copy-height: 20px;
$-m-a-copy-total-width: 200px;
$-m-a-copy-total-height: 180px;
$-m-a-copy-image: '../images/sprite.png';
$-m-a-copy: (28px, 120px, -28px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'MA Copy', );
$-m-g-copy-name: 'MG Copy';
$-m-g-copy-x: 56px;
$-m-g-copy-y: 120px;
$-m-g-copy-offset-x: -56px;
$-m-g-copy-offset-y: -120px;
$-m-g-copy-width: 28px;
$-m-g-copy-height: 20px;
$-m-g-copy-total-width: 200px;
$-m-g-copy-total-height: 180px;
$-m-g-copy-image: '../images/sprite.png';
$-m-g-copy: (56px, 120px, -56px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'MG Copy', );
$-m-l-copy-name: 'ML Copy';
$-m-l-copy-x: 84px;
$-m-l-copy-y: 120px;
$-m-l-copy-offset-x: -84px;
$-m-l-copy-offset-y: -120px;
$-m-l-copy-width: 28px;
$-m-l-copy-height: 20px;
$-m-l-copy-total-width: 200px;
$-m-l-copy-total-height: 180px;
$-m-l-copy-image: '../images/sprite.png';
$-m-l-copy: (84px, 120px, -84px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ML Copy', );
$-m-r-copy-name: 'MR Copy';
$-m-r-copy-x: 112px;
$-m-r-copy-y: 120px;
$-m-r-copy-offset-x: -112px;
$-m-r-copy-offset-y: -120px;
$-m-r-copy-width: 28px;
$-m-r-copy-height: 20px;
$-m-r-copy-total-width: 200px;
$-m-r-copy-total-height: 180px;
$-m-r-copy-image: '../images/sprite.png';
$-m-r-copy: (112px, 120px, -112px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'MR Copy', );
$-m-u-copy-name: 'MU Copy';
$-m-u-copy-x: 144px;
$-m-u-copy-y: 0px;
$-m-u-copy-offset-x: -144px;
$-m-u-copy-offset-y: 0px;
$-m-u-copy-width: 28px;
$-m-u-copy-height: 20px;
$-m-u-copy-total-width: 200px;
$-m-u-copy-total-height: 180px;
$-m-u-copy-image: '../images/sprite.png';
$-m-u-copy: (144px, 0px, -144px, 0px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'MU Copy', );
$-m-w-copy-name: 'MW Copy';
$-m-w-copy-x: 144px;
$-m-w-copy-y: 20px;
$-m-w-copy-offset-x: -144px;
$-m-w-copy-offset-y: -20px;
$-m-w-copy-width: 28px;
$-m-w-copy-height: 20px;
$-m-w-copy-total-width: 200px;
$-m-w-copy-total-height: 180px;
$-m-w-copy-image: '../images/sprite.png';
$-m-w-copy: (144px, 20px, -144px, -20px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'MW Copy', );
$-m-z-copy-name: 'MZ Copy';
$-m-z-copy-x: 144px;
$-m-z-copy-y: 40px;
$-m-z-copy-offset-x: -144px;
$-m-z-copy-offset-y: -40px;
$-m-z-copy-width: 28px;
$-m-z-copy-height: 20px;
$-m-z-copy-total-width: 200px;
$-m-z-copy-total-height: 180px;
$-m-z-copy-image: '../images/sprite.png';
$-m-z-copy: (144px, 40px, -144px, -40px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'MZ Copy', );
$-n-a-copy-name: 'NA Copy';
$-n-a-copy-x: 144px;
$-n-a-copy-y: 60px;
$-n-a-copy-offset-x: -144px;
$-n-a-copy-offset-y: -60px;
$-n-a-copy-width: 28px;
$-n-a-copy-height: 20px;
$-n-a-copy-total-width: 200px;
$-n-a-copy-total-height: 180px;
$-n-a-copy-image: '../images/sprite.png';
$-n-a-copy: (144px, 60px, -144px, -60px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'NA Copy', );
$-n-e-copy-name: 'NE Copy';
$-n-e-copy-x: 144px;
$-n-e-copy-y: 80px;
$-n-e-copy-offset-x: -144px;
$-n-e-copy-offset-y: -80px;
$-n-e-copy-width: 28px;
$-n-e-copy-height: 20px;
$-n-e-copy-total-width: 200px;
$-n-e-copy-total-height: 180px;
$-n-e-copy-image: '../images/sprite.png';
$-n-e-copy: (144px, 80px, -144px, -80px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'NE Copy', );
$-n-g-copy-name: 'NG Copy';
$-n-g-copy-x: 144px;
$-n-g-copy-y: 100px;
$-n-g-copy-offset-x: -144px;
$-n-g-copy-offset-y: -100px;
$-n-g-copy-width: 28px;
$-n-g-copy-height: 20px;
$-n-g-copy-total-width: 200px;
$-n-g-copy-total-height: 180px;
$-n-g-copy-image: '../images/sprite.png';
$-n-g-copy: (144px, 100px, -144px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'NG Copy', );
$-r-e-name: 'RE';
$-r-e-x: 144px;
$-r-e-y: 120px;
$-r-e-offset-x: -144px;
$-r-e-offset-y: -120px;
$-r-e-width: 28px;
$-r-e-height: 20px;
$-r-e-total-width: 200px;
$-r-e-total-height: 180px;
$-r-e-image: '../images/sprite.png';
$-r-e: (144px, 120px, -144px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'RE', );
$-r-w-copy-name: 'RW Copy';
$-r-w-copy-x: 0px;
$-r-w-copy-y: 140px;
$-r-w-copy-offset-x: 0px;
$-r-w-copy-offset-y: -140px;
$-r-w-copy-width: 28px;
$-r-w-copy-height: 20px;
$-r-w-copy-total-width: 200px;
$-r-w-copy-total-height: 180px;
$-r-w-copy-image: '../images/sprite.png';
$-r-w-copy: (0px, 140px, 0px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'RW Copy', );
$-s-c-copy-name: 'SC Copy';
$-s-c-copy-x: 28px;
$-s-c-copy-y: 140px;
$-s-c-copy-offset-x: -28px;
$-s-c-copy-offset-y: -140px;
$-s-c-copy-width: 28px;
$-s-c-copy-height: 20px;
$-s-c-copy-total-width: 200px;
$-s-c-copy-total-height: 180px;
$-s-c-copy-image: '../images/sprite.png';
$-s-c-copy: (28px, 140px, -28px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SC Copy', );
$-s-d-copy-name: 'SD Copy';
$-s-d-copy-x: 56px;
$-s-d-copy-y: 140px;
$-s-d-copy-offset-x: -56px;
$-s-d-copy-offset-y: -140px;
$-s-d-copy-width: 28px;
$-s-d-copy-height: 20px;
$-s-d-copy-total-width: 200px;
$-s-d-copy-total-height: 180px;
$-s-d-copy-image: '../images/sprite.png';
$-s-d-copy: (56px, 140px, -56px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SD Copy', );
$-s-i-copy-name: 'SI Copy';
$-s-i-copy-x: 84px;
$-s-i-copy-y: 140px;
$-s-i-copy-offset-x: -84px;
$-s-i-copy-offset-y: -140px;
$-s-i-copy-width: 28px;
$-s-i-copy-height: 20px;
$-s-i-copy-total-width: 200px;
$-s-i-copy-total-height: 180px;
$-s-i-copy-image: '../images/sprite.png';
$-s-i-copy: (84px, 140px, -84px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SI Copy', );
$-s-l-copy-name: 'SL Copy';
$-s-l-copy-x: 112px;
$-s-l-copy-y: 140px;
$-s-l-copy-offset-x: -112px;
$-s-l-copy-offset-y: -140px;
$-s-l-copy-width: 28px;
$-s-l-copy-height: 20px;
$-s-l-copy-total-width: 200px;
$-s-l-copy-total-height: 180px;
$-s-l-copy-image: '../images/sprite.png';
$-s-l-copy: (112px, 140px, -112px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SL Copy', );
$-s-n-copy-name: 'SN Copy';
$-s-n-copy-x: 140px;
$-s-n-copy-y: 140px;
$-s-n-copy-offset-x: -140px;
$-s-n-copy-offset-y: -140px;
$-s-n-copy-width: 28px;
$-s-n-copy-height: 20px;
$-s-n-copy-total-width: 200px;
$-s-n-copy-total-height: 180px;
$-s-n-copy-image: '../images/sprite.png';
$-s-n-copy: (140px, 140px, -140px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SN Copy', );
$-s-o-copy-name: 'SO Copy';
$-s-o-copy-x: 172px;
$-s-o-copy-y: 0px;
$-s-o-copy-offset-x: -172px;
$-s-o-copy-offset-y: 0px;
$-s-o-copy-width: 28px;
$-s-o-copy-height: 20px;
$-s-o-copy-total-width: 200px;
$-s-o-copy-total-height: 180px;
$-s-o-copy-image: '../images/sprite.png';
$-s-o-copy: (172px, 0px, -172px, 0px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SO Copy', );
$-s-t-copy-name: 'ST Copy';
$-s-t-copy-x: 172px;
$-s-t-copy-y: 20px;
$-s-t-copy-offset-x: -172px;
$-s-t-copy-offset-y: -20px;
$-s-t-copy-width: 28px;
$-s-t-copy-height: 20px;
$-s-t-copy-total-width: 200px;
$-s-t-copy-total-height: 180px;
$-s-t-copy-image: '../images/sprite.png';
$-s-t-copy: (172px, 20px, -172px, -20px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ST Copy', );
$-s-z-copy-name: 'SZ Copy';
$-s-z-copy-x: 172px;
$-s-z-copy-y: 40px;
$-s-z-copy-offset-x: -172px;
$-s-z-copy-offset-y: -40px;
$-s-z-copy-width: 28px;
$-s-z-copy-height: 20px;
$-s-z-copy-total-width: 200px;
$-s-z-copy-total-height: 180px;
$-s-z-copy-image: '../images/sprite.png';
$-s-z-copy: (172px, 40px, -172px, -40px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'SZ Copy', );
$-t-g-copy-name: 'TG Copy';
$-t-g-copy-x: 172px;
$-t-g-copy-y: 60px;
$-t-g-copy-offset-x: -172px;
$-t-g-copy-offset-y: -60px;
$-t-g-copy-width: 28px;
$-t-g-copy-height: 20px;
$-t-g-copy-total-width: 200px;
$-t-g-copy-total-height: 180px;
$-t-g-copy-image: '../images/sprite.png';
$-t-g-copy: (172px, 60px, -172px, -60px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'TG Copy', );
$-t-n-copy-name: 'TN Copy';
$-t-n-copy-x: 172px;
$-t-n-copy-y: 80px;
$-t-n-copy-offset-x: -172px;
$-t-n-copy-offset-y: -80px;
$-t-n-copy-width: 28px;
$-t-n-copy-height: 20px;
$-t-n-copy-total-width: 200px;
$-t-n-copy-total-height: 180px;
$-t-n-copy-image: '../images/sprite.png';
$-t-n-copy: (172px, 80px, -172px, -80px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'TN Copy', );
$-t-z-copy-name: 'TZ Copy';
$-t-z-copy-x: 172px;
$-t-z-copy-y: 100px;
$-t-z-copy-offset-x: -172px;
$-t-z-copy-offset-y: -100px;
$-t-z-copy-width: 28px;
$-t-z-copy-height: 20px;
$-t-z-copy-total-width: 200px;
$-t-z-copy-total-height: 180px;
$-t-z-copy-image: '../images/sprite.png';
$-t-z-copy: (172px, 100px, -172px, -100px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'TZ Copy', );
$-u-g-copy-name: 'UG Copy';
$-u-g-copy-x: 172px;
$-u-g-copy-y: 120px;
$-u-g-copy-offset-x: -172px;
$-u-g-copy-offset-y: -120px;
$-u-g-copy-width: 28px;
$-u-g-copy-height: 20px;
$-u-g-copy-total-width: 200px;
$-u-g-copy-total-height: 180px;
$-u-g-copy-image: '../images/sprite.png';
$-u-g-copy: (172px, 120px, -172px, -120px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'UG Copy', );
$-y-t-copy-name: 'YT Copy';
$-y-t-copy-x: 172px;
$-y-t-copy-y: 140px;
$-y-t-copy-offset-x: -172px;
$-y-t-copy-offset-y: -140px;
$-y-t-copy-width: 28px;
$-y-t-copy-height: 20px;
$-y-t-copy-total-width: 200px;
$-y-t-copy-total-height: 180px;
$-y-t-copy-image: '../images/sprite.png';
$-y-t-copy: (172px, 140px, -172px, -140px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'YT Copy', );
$-z-a-copy-name: 'ZA Copy';
$-z-a-copy-x: 0px;
$-z-a-copy-y: 160px;
$-z-a-copy-offset-x: 0px;
$-z-a-copy-offset-y: -160px;
$-z-a-copy-width: 28px;
$-z-a-copy-height: 20px;
$-z-a-copy-total-width: 200px;
$-z-a-copy-total-height: 180px;
$-z-a-copy-image: '../images/sprite.png';
$-z-a-copy: (0px, 160px, 0px, -160px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ZA Copy', );
$-z-m-copy-name: 'ZM Copy';
$-z-m-copy-x: 28px;
$-z-m-copy-y: 160px;
$-z-m-copy-offset-x: -28px;
$-z-m-copy-offset-y: -160px;
$-z-m-copy-width: 28px;
$-z-m-copy-height: 20px;
$-z-m-copy-total-width: 200px;
$-z-m-copy-total-height: 180px;
$-z-m-copy-image: '../images/sprite.png';
$-z-m-copy: (28px, 160px, -28px, -160px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ZM Copy', );
$-z-w-copy-name: 'ZW Copy';
$-z-w-copy-x: 56px;
$-z-w-copy-y: 160px;
$-z-w-copy-offset-x: -56px;
$-z-w-copy-offset-y: -160px;
$-z-w-copy-width: 28px;
$-z-w-copy-height: 20px;
$-z-w-copy-total-width: 200px;
$-z-w-copy-total-height: 180px;
$-z-w-copy-image: '../images/sprite.png';
$-z-w-copy: (56px, 160px, -56px, -160px, 28px, 20px, 200px, 180px, '../images/sprite.png', 'ZW Copy', );
$spritesheet-width: 200px;
$spritesheet-height: 180px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-a-c, $-a-o-copy, $-africa-com, $-b-f-copy, $-b-i-copy, $-b-j-copy, $-b-w-copy, $-c-d-copy, $-c-f-copy, $-c-g-copy, $-c-i-copy, $-c-m-copy, $-c-v-copy, $-chad, $-d-j-copy, $-d-z-copy, $-e-g-copy, $-e-r-copy, $-e-t-copy, $-g-a-copy, $-g-g-copy, $-g-h-copy, $-g-m-copy, $-g-n-copy, $-g-q-copy, $-g-w-copy, $-k-e-copy, $-k-m-copy, $-l-r-copy, $-l-s-copy, $-l-y-copy, $-m-a-copy, $-m-g-copy, $-m-l-copy, $-m-r-copy, $-m-u-copy, $-m-w-copy, $-m-z-copy, $-n-a-copy, $-n-e-copy, $-n-g-copy, $-r-e, $-r-w-copy, $-s-c-copy, $-s-d-copy, $-s-i-copy, $-s-l-copy, $-s-n-copy, $-s-o-copy, $-s-t-copy, $-s-z-copy, $-t-g-copy, $-t-n-copy, $-t-z-copy, $-u-g-copy, $-y-t-copy, $-z-a-copy, $-z-m-copy, $-z-w-copy, );
$spritesheet: (200px, 180px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
