@charset "UTF-8";

// @import '_sprite';
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/sass-easing/_easings';

@import 'fonts/_fonts';

@import 'modules/**/*';
@import "sprite";

body {
  background-color: red;
}

.ico {
  @include sprite($-a-c)
}

.asda {
  left: 50%;
}


.hhh {
  left: 50%;
  margin-left: -($-a-c-height/2);
}

